.header{
    background-color: rgb(124, 41, 41);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: rgb(209, 159, 159);
    border-bottom: 2px solid #677b8f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000;

}